//SELECT TRADE TEXT
.selectTrade {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 18px;
}
//SELECT TRADE BUTTON GROUP
.selectGroupButton {
    margin-left: 40px;
}
.selectGroupItem {
    width: 128px;
}
//SELECT REPORT TEXT
.selectReport{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 18px;    
}
.dropDownReport {
    margin-left: 40px;
    width: 381px;    
}
// FILTERS
.filters {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 18px;
}
//DATEPICKER
.datePicker1 {
    margin-left: 40px;
}
//TEXT TO
.textTO {
    margin-left: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.datePicker2 {
    margin-left: 6px;
}
//Country
.selectcountry {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 15px;
}
.dropDownSelectCountry {
    margin-left: 40px;
    width: 381px; 
}
// MONTH
.month {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 15px;
}
.dropDownMonth {
    margin-left: 40px;
    width: 381px;  
}
//QUARTER
.quarter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 15px;
}
.dropDownQuarter {
    margin-left: 40px;
    width: 381px; 
}   
//Product DESCRIPTION
.selectproductdesc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 15px;
}
.dropDownSelectProductDesc {
    margin-left: 40px;
    width: 381px; 
}
//Reset LINk
.reset{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #0a739a;
}
.resetLink {
    margin-top: 40px;
    margin-left: 249px;
}
//apply filter
.applyFilter {
    background-color: #275faa;
    color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 33px;
}   